In [2]:
import numpy as np
import json

In [74]:
train = []
typhoon_train_information = []
for year in  range(2000,2016):
    with open(f'data./train/CH{year}BST.txt', 'r') as f:
        lines = f.readlines()
#         print(lines)
        start = 0
        
        while start < len(lines):
            typhoon = lines[start]
            sample = []
            # 第一行记录国际编号，路径数据记录的行数，我国对热带气旋的编号，
            # 热带气旋终结记录，每行路径间隔小时数，热带气旋的英文名称，数据集形成的日期
            typhoon_train_information.append([int(typhoon[5:10]),int(typhoon[10:15]),int(typhoon[20:25]),
                           int(typhoon[26]),int(typhoon[28]),str.lstrip(str(typhoon[30:51])),int()])
            # 记录台风移动数据：时间，纬度，经度，中心最低气压，2分钟平均风速，状态
            for i in range(1,int(typhoon[10:15])+1):
                sample.append([int(lines[i+start][:10]), int(lines[i+start][11]), int(lines[i+start][13:16]),
                              int(lines[i+start][17:21]), int(lines[i+start][22:26]), int(lines[i+start][-3:]),-1])
            sample[-1][-1] = int(typhoon[26])
            train.append(sample)
            start += int(typhoon[10:15])+1

In [75]:
with open('./data/TrainData.json','w') as f:
    json.dump(train, f)
with open('./data/TrainDataInformation.json','w') as f:
    json.dump(typhoon_train_information, f)

len(train)

436

In [76]:
test = []
typhoon_test_information = []
for year in  range(2016,2021):
    with open(f'data./test/CH{year}BST.txt', 'r') as f:
        lines = f.readlines()
#         print(lines)
        start = 0
        
        while start < len(lines):
            typhoon = lines[start]
            sample = []
            # 第一行记录国际编号，路径数据记录的行数，我国对热带气旋的编号，
            # 热带气旋终结记录，每行路径间隔小时数，热带气旋的英文名称，数据集形成的日期
            typhoon_test_information.append([int(typhoon[5:10]),int(typhoon[10:15]),int(typhoon[20:25]),
                           int(typhoon[26]),int(typhoon[28]),str.lstrip(str(typhoon[30:51])),int()])
            # 记录台风移动数据：时间，纬度，经度，中心最低气压，2分钟平均风速，状态
            for i in range(1,int(typhoon[10:15])+1):
                sample.append([int(lines[i+start][:10]), int(lines[i+start][11]), int(lines[i+start][13:16]),
                              int(lines[i+start][17:21]), int(lines[i+start][22:26]), int(lines[i+start][-3:]),-1])
            sample[-1][-1] = int(typhoon[26])
            test.append(sample)
            start += int(typhoon[10:15]) + 1

In [77]:
with open('./data/TestData.json','w') as f:
    json.dump(test, f)
with open('./data/TestDataInformation.json','w') as f:
    json.dump(typhoon_test_information, f)
len(test)

152

In [78]:
import random
from random import sample

random.seed(10086)
val = sample(test, 20)
random.seed(10086)
typhoon_val_information = sample(typhoon_test_information, 20)

In [80]:
with open('./data/ValData.json','w') as f:
    json.dump(val, f)
with open('./data/ValDataInformation.json','w') as f:
    json.dump(typhoon_val_information, f)

len(val)

20

In [18]:
typhoon_test_information

[[0, 9, 0, 0, 6, '(nameless)           ', 0],
 [0, 31, 1601, 0, 6, 'NEPARTAK             ', 0],
 [0, 10, 0, 0, 6, '(nameless)           ', 0],
 [0, 15, 1602, 0, 6, 'LUPIT                ', 0],
 [0, 12, 1603, 0, 6, 'MIRINAE              ', 0],
 [0, 19, 1604, 0, 6, 'NIDA                 ', 0],
 [0, 31, 1605, 0, 6, 'OMAIS                ', 0],
 [0, 33, 1606, 0, 6, 'CONSON               ', 0],
 [0, 24, 1607, 0, 6, 'CHANTHU              ', 0],
 [0, 20, 1608, 0, 6, 'DIANMU               ', 0],
 [0, 25, 1609, 0, 6, 'MINDULLE             ', 0],
 [0, 53, 1610, 0, 6, 'Lionrock             ', 0],
 [0, 13, 1611, 0, 6, 'KOMPASU              ', 0],
 [0, 21, 1612, 0, 6, 'Namtheun             ', 0],
 [0, 9, 1613, 0, 6, 'Malou                ', 0],
 [0, 34, 1614, 0, 6, 'MERANTI              ', 0],
 [0, 12, 1615, 0, 6, 'RAI                  ', 0],
 [0, 36, 1616, 0, 6, 'MALAKAS              ', 0],
 [0, 29, 1617, 0, 6, 'MEGI                 ', 0],
 [0, 46, 1618, 0, 6, 'CHABA                ', 0],
 [0, 41, 1619, 0, 6, 'AERE                 ', 0],
 [0, 27, 1620, 0, 6, 'SONGDA               ', 0],
 [0, 31, 1621, 0, 6, 'SARIKA               ', 0],
 [0, 34, 1622, 0, 6, 'HAIMA                ', 0],
 [0, 31, 1623, 0, 6, 'MEARI                ', 0],
 [0, 16, 1624, 0, 6, 'MA-ON                ', 0],
 [0, 12, 0, 0, 6, '(nameless)           ', 0],
 [0, 17, 1625, 0, 6, 'TOKAGE               ', 0],
 [0, 34, 1626, 0, 6, 'NOCK-TEN             ', 0],
 [0, 25, 0, 0, 6, '(nameless)           ', 0],
 [1701, 27, 1701, 0, 6, 'MUIFA                ', 0],
 [1702, 21, 1702, 0, 3, 'MERBOK               ', 0],
 [1703, 21, 1703, 0, 6, 'NANMADOL             ', 0],
 [1704, 15, 1704, 0, 6, 'TALAS                ', 0],
 [1705, 82, 1705, 0, 6, 'NORU                 ', 0],
 [1706, 33, 1706, 0, 6, 'KULAP                ', 0],
 [1707, 14, 1707, 0, 3, 'ROKE                 ', 0],
 [1708, 34, 1708, 0, 6, 'SONCA                ', 0],
 [1709, 31, 1709, 0, 3, 'NESAT                ', 0],
 [1710, 33, 1710, 0, 3, 'HAITANG              ', 0],
 [1711, 30, 1711, 0, 6, 'NALGAE               ', 0],
 [1712, 27, 1712, 0, 6, 'BANYAN               ', 0],
 [1713, 26, 1713, 0, 3, 'HATO                 ', 0],
 [1714, 21, 1714, 0, 3, 'PAKHAR               ', 0],
 [1715, 40, 1715, 0, 6, 'SANVU                ', 0],
 [1716, 22, 1716, 0, 3, 'MAWAR                ', 0],
 [1717, 16, 1717, 0, 6, 'GUCHOL               ', 0],
 [1718, 53, 1718, 0, 6, 'TALIM                ', 0],
 [1719, 22, 1719, 0, 6, 'DOKSURI              ', 0],
 [0, 13, 0, 0, 3, '(nameless)           ', 0],
 [0, 9, 0, 0, 6, '(nameless)           ', 0],
 [1720, 25, 1720, 0, 3, 'KHANUN               ', 0],
 [1721, 35, 1721, 0, 6, 'LAN                  ', 0],
 [1722, 30, 1722, 0, 6, 'SAOLA                ', 0],
 [1723, 21, 1723, 0, 6, 'DAMREY               ', 0],
 [1724, 23, 1724, 0, 6, 'HAIKUI               ', 0],
 [1725, 12, 1725, 0, 6, 'KIROGI               ', 0],
 [1726, 40, 1726, 0, 6, 'KAI-TAK              ', 0],
 [1727, 26, 1727, 0, 6, 'TEMBIN               ', 0],
 [1801, 19, 1801, 0, 6, 'BOLAVEN              ', 0],
 [1802, 26, 1802, 0, 6, 'SANBA                ', 0],
 [1803, 32, 1803, 0, 6, 'JELAWAT              ', 0],
 [0, 15, 0, 0, 6, '(nameless)           ', 0],
 [1804, 50, 1804, 0, 3, 'EWINIAR              ', 0],
 [1805, 26, 1805, 0, 6, 'MALIKSI              ', 0],
 [1806, 32, 1806, 0, 3, 'GAEMI                ', 0],
 [1807, 30, 1807, 0, 6, 'PRAPIROON            ', 0],
 [1808, 53, 1808, 0, 3, 'MARIA                ', 0],
 [1809, 53, 1809, 0, 3, 'SON-TINH             ', 0],
 [1810, 52, 1810, 0, 3, 'AMPIL                ', 0],
 [0, 14, 0, 0, 6, '(nameless)           ', 0],
 [1811, 22, 1811, 0, 6, 'WUKONG               ', 0],
 [1812, 62, 1812, 0, 3, 'JONGDARI             ', 0],
 [0, 12, 0, 0, 6, '(nameless)           ', 0],
 [1813, 36, 1813, 0, 6, 'SHANSHAN             ', 0],
 [1814, 53, 1814, 0, 3, 'YAGI                 ', 0],
 [1815, 21, 1815, 0, 6, 'LEEPI                ', 0],
 [1816, 63, 1816, 0, 3, 'BEBINCA              ', 0],
 [1817, 64, 1817, 0, 6, 'HECTOR               ', 0],
 [1818, 44, 1818, 0, 3, 'RUMBIA               ', 0],
 [1819, 48, 1819, 0, 6, 'SOULIK               ', 0],
 [1820, 31, 1820, 0, 6, 'CIMARON              ', 0],
 [0, 27, 0, 0, 3, '(nameless)           ', 0],
 [1821, 46, 1821, 0, 6, 'JEBI                 ', 0],
 [1822, 52, 1822, 0, 3, 'MANGKHUT             ', 0],
 [1823, 30, 1823, 0, 3, 'BARIJAT              ', 0],
 [1824, 53, 1824, 1, 6, 'TRAMI                ', 0],
 [1825, 39, 1825, 0, 6, 'KONG-REY             ', 0],
 [1826, 54, 1826, 0, 6, 'YUTU                 ', 0],
 [1827, 7, 1827, 0, 6, 'TORAJI               ', 0],
 [1828, 36, 1828, 0, 6, 'MAN-YI               ', 0],
 [1829, 36, 1829, 0, 6, 'USAGI                ', 0],
 [0, 13, 0, 0, 6, '(nameless)           ', 0],
 [1901, 20, 1901, 0, 6, 'PABUK                ', 0],
 [0, 17, 0, 0, 6, '(nameless)           ', 0],
 [1902, 48, 1902, 0, 6, 'WUTIP                ', 0],
 [0, 11, 0, 0, 6, '(nameless)           ', 0],
 [1903, 18, 1903, 0, 6, 'SEPAT                ', 0],
 [0, 8, 0, 0, 6, '(nameless)           ', 0],
 [1904, 17, 1904, 0, 3, 'MUN                  ', 0],
 [1905, 37, 1905, 0, 6, 'DANAS                ', 0],
 [1906, 21, 1906, 0, 6, 'NARI                 ', 0],
 [1907, 31, 1907, 0, 3, 'WIPHA                ', 0],
 [1908, 34, 1908, 0, 6, 'FRANCISCO            ', 0],
 [1909, 62, 1909, 0, 3, 'LEKIMA               ', 0],
 [1910, 48, 1910, 0, 6, 'KROSA                ', 0],
 [1911, 38, 1911, 0, 3, 'BAILU                ', 0],
 [1912, 24, 1912, 0, 6, 'PODUL                ', 0],
 [1913, 45, 1913, 0, 6, 'LINGLING             ', 0],
 [1914, 37, 1914, 0, 3, 'KAJIKI               ', 0],
 [1915, 37, 1915, 0, 6, 'FAXAI                ', 0],
 [0, 16, 0, 0, 6, '(nameless)           ', 0],
 [1916, 16, 1916, 0, 6, 'PEIPAH               ', 0],
 [1917, 27, 1917, 0, 6, 'TAPAH                ', 0],
 [1918, 37, 1918, 0, 3, 'MITAG                ', 0],
 [1919, 39, 1919, 0, 6, 'HAGIBIS              ', 0],
 [1920, 29, 1920, 0, 6, 'NEOGURI              ', 0],
 [1921, 30, 1921, 0, 6, 'BUALOI               ', 0],
 [1922, 13, 1922, 0, 6, 'MATMO                ', 0],
 [1923, 34, 1923, 0, 6, 'HALONG               ', 0],
 [1924, 28, 1924, 0, 6, 'NAKRI                ', 0],
 [1925, 30, 1925, 0, 6, 'FENGSHEN             ', 0],
 [1926, 44, 1926, 0, 6, 'KALMAEGI             ', 0],
 [1927, 25, 1927, 0, 6, 'FUNG-WONG            ', 0],
 [1928, 45, 1928, 0, 6, 'KAMMURI              ', 0],
 [1929, 37, 1929, 0, 6, 'PHANFONE             ', 0],
 [2001, 37, 2001, 0, 6, 'Vongfong             ', 0],
 [2002, 25, 2002, 0, 3, 'Nuri  \t\t\t\t           ', 0],
 [2003, 16, 2003, 0, 3, 'Sinlaku              ', 0],
 [2004, 55, 2004, 0, 3, 'Hagupit              ', 0],
 [2005, 29, 2005, 0, 6, 'Jangmi               ', 0],
 [2006, 15, 2006, 0, 3, 'Mekkhala             ', 0],
 [0, 17, 0, 0, 6, '(nameless)           ', 0],
 [2007, 21, 2007, 0, 3, 'Higos                ', 0],
 [2008, 29, 2008, 0, 6, 'Bavi                 ', 0],
 [2009, 37, 2009, 0, 6, 'Maysak               ', 0],
 [2010, 35, 2010, 0, 6, 'Haishen              ', 0],
 [2011, 18, 2011, 0, 6, 'Noul                 ', 0],
 [2012, 37, 2012, 0, 6, 'Dolphin              ', 0],
 [2013, 25, 2013, 0, 6, 'Kujira               ', 0],
 [2014, 54, 2014, 0, 6, 'Chan-hom             ', 0],
 [2015, 20, 2015, 0, 6, 'Linfa                ', 0],
 [2016, 20, 2016, 0, 3, 'Nangka               ', 0],
 [0, 10, 0, 0, 6, '(nameless)           ', 0],
 [2017, 30, 2017, 0, 6, 'Saudel               ', 0],
 [0, 13, 0, 0, 6, '(nameless)           ', 0],
 [2018, 26, 2018, 0, 6, 'Molave               ', 0],
 [2019, 44, 2019, 0, 6, 'Goni                 ', 0],
 [2020, 39, 2020, 0, 6, 'Atsani               ', 0],
 [2021, 18, 2021, 0, 6, 'Etau                 ', 0],
 [2022, 33, 2022, 0, 6, 'Vamco                ', 0],
 [2023, 30, 2023, 0, 6, 'Krovanh              ', 0]]

In [70]:
with open('./data/TestData.json', 'r') as f:
    test = json.load(f)
len(test)

152

In [66]:
import random
from random import sample

TestSplitX = {1:[],5:[],10:[]}
TestSplitY = {1:[],5:[],10:[]}
TestSplitInfo = {1:[],5:[],10:[]}
for l in [1,5,10]:
    for i in range(len(test)):
        if len(test[i]) > l:
            for j in range(len(test[i]) - l):
                TestSplitX[l].append(test[i][j:j+l])
                TestSplitY[l].append(test[i][j+l:])
                TestSplitInfo[l].append(i)

for l in [1,5,10]:
    random.seed(10086)
    TestSplitX[l] = sample(TestSplitX[l], 1000)
    random.seed(10086)
    TestSplitY[l] = sample(TestSplitY[l], 1000)
    random.seed(10086)
    TestSplitInfo[l] = sample(TestSplitInfo[l], 1000)

In [67]:
with open('./data/TestSplitX.json','w') as f:
    json.dump(TestSplitX, f)
with open('./data/TestSplitY.json','w') as f:
    json.dump(TestSplitY, f)
with open('./data/TestSplitInfo.json','w') as f:
    json.dump(TestSplitInfo, f)

In [69]:
TestSplitY[1][0]

[[2016091212, 1, 135, 1408, 1000, 15, -1],
 [2016091218, 1, 139, 1395, 1000, 15, -1],
 [2016091300, 2, 142, 1379, 998, 18, -1],
 [2016091306, 2, 145, 1368, 995, 20, -1],
 [2016091312, 2, 148, 1356, 992, 23, -1],
 [2016091318, 3, 150, 1344, 990, 25, -1],
 [2016091400, 3, 155, 1333, 980, 30, -1],
 [2016091406, 4, 158, 1321, 975, 33, -1],
 [2016091412, 4, 164, 1311, 970, 35, -1],
 [2016091418, 4, 167, 1300, 965, 38, -1],
 [2016091500, 4, 171, 1287, 965, 38, -1],
 [2016091506, 4, 176, 1278, 965, 38, -1],
 [2016091512, 5, 184, 1268, 955, 42, -1],
 [2016091518, 5, 193, 1256, 955, 42, -1],
 [2016091600, 5, 201, 1246, 955, 42, -1],
 [2016091606, 5, 211, 1239, 950, 45, -1],
 [2016091612, 5, 221, 1234, 945, 48, -1],
 [2016091618, 5, 229, 1231, 940, 50, -1],
 [2016091700, 5, 241, 1230, 940, 50, -1],
 [2016091706, 5, 253, 1228, 940, 50, -1],
 [2016091712, 5, 258, 1227, 945, 48, -1],
 [2016091718, 5, 262, 1227, 945, 48, -1],
 [2016091800, 5, 268, 1235, 950, 45, -1],
 [2016091806, 5, 275, 1242, 955, 42, -1],
 [2016091812, 5, 280, 1251, 955, 45, -1],
 [2016091818, 5, 286, 1260, 945, 48, -1],
 [2016091900, 5, 294, 1271, 945, 48, -1],
 [2016091906, 5, 302, 1283, 945, 48, -1],
 [2016091912, 5, 308, 1298, 950, 45, -1],
 [2016091918, 4, 316, 1315, 960, 40, -1],
 [2016092000, 4, 327, 1335, 970, 35, -1],
 [2016092006, 3, 343, 1361, 985, 25, -1],
 [2016092012, 2, 345, 1383, 1004, 18, 0]]

In [3]:
with open('./data/TestDataInformation.json', 'r') as f:
    train = json.load(f)
len(train)

152

In [4]:
train

[[0, 9, 0, 0, 6, '(nameless)           ', 0],
 [0, 31, 1601, 0, 6, 'NEPARTAK             ', 0],
 [0, 10, 0, 0, 6, '(nameless)           ', 0],
 [0, 15, 1602, 0, 6, 'LUPIT                ', 0],
 [0, 12, 1603, 0, 6, 'MIRINAE              ', 0],
 [0, 19, 1604, 0, 6, 'NIDA                 ', 0],
 [0, 31, 1605, 0, 6, 'OMAIS                ', 0],
 [0, 33, 1606, 0, 6, 'CONSON               ', 0],
 [0, 24, 1607, 0, 6, 'CHANTHU              ', 0],
 [0, 20, 1608, 0, 6, 'DIANMU               ', 0],
 [0, 25, 1609, 0, 6, 'MINDULLE             ', 0],
 [0, 53, 1610, 0, 6, 'Lionrock             ', 0],
 [0, 13, 1611, 0, 6, 'KOMPASU              ', 0],
 [0, 21, 1612, 0, 6, 'Namtheun             ', 0],
 [0, 9, 1613, 0, 6, 'Malou                ', 0],
 [0, 34, 1614, 0, 6, 'MERANTI              ', 0],
 [0, 12, 1615, 0, 6, 'RAI                  ', 0],
 [0, 36, 1616, 0, 6, 'MALAKAS              ', 0],
 [0, 29, 1617, 0, 6, 'MEGI                 ', 0],
 [0, 46, 1618, 0, 6, 'CHABA                ', 0],
 [0, 41, 1619, 0, 6, 'AERE                 ', 0],
 [0, 27, 1620, 0, 6, 'SONGDA               ', 0],
 [0, 31, 1621, 0, 6, 'SARIKA               ', 0],
 [0, 34, 1622, 0, 6, 'HAIMA                ', 0],
 [0, 31, 1623, 0, 6, 'MEARI                ', 0],
 [0, 16, 1624, 0, 6, 'MA-ON                ', 0],
 [0, 12, 0, 0, 6, '(nameless)           ', 0],
 [0, 17, 1625, 0, 6, 'TOKAGE               ', 0],
 [0, 34, 1626, 0, 6, 'NOCK-TEN             ', 0],
 [0, 25, 0, 0, 6, '(nameless)           ', 0],
 [1701, 27, 1701, 0, 6, 'MUIFA                ', 0],
 [1702, 21, 1702, 0, 3, 'MERBOK               ', 0],
 [1703, 21, 1703, 0, 6, 'NANMADOL             ', 0],
 [1704, 15, 1704, 0, 6, 'TALAS                ', 0],
 [1705, 82, 1705, 0, 6, 'NORU                 ', 0],
 [1706, 33, 1706, 0, 6, 'KULAP                ', 0],
 [1707, 14, 1707, 0, 3, 'ROKE                 ', 0],
 [1708, 34, 1708, 0, 6, 'SONCA                ', 0],
 [1709, 31, 1709, 0, 3, 'NESAT                ', 0],
 [1710, 33, 1710, 0, 3, 'HAITANG              ', 0],
 [1711, 30, 1711, 0, 6, 'NALGAE               ', 0],
 [1712, 27, 1712, 0, 6, 'BANYAN               ', 0],
 [1713, 26, 1713, 0, 3, 'HATO                 ', 0],
 [1714, 21, 1714, 0, 3, 'PAKHAR               ', 0],
 [1715, 40, 1715, 0, 6, 'SANVU                ', 0],
 [1716, 22, 1716, 0, 3, 'MAWAR                ', 0],
 [1717, 16, 1717, 0, 6, 'GUCHOL               ', 0],
 [1718, 53, 1718, 0, 6, 'TALIM                ', 0],
 [1719, 22, 1719, 0, 6, 'DOKSURI              ', 0],
 [0, 13, 0, 0, 3, '(nameless)           ', 0],
 [0, 9, 0, 0, 6, '(nameless)           ', 0],
 [1720, 25, 1720, 0, 3, 'KHANUN               ', 0],
 [1721, 35, 1721, 0, 6, 'LAN                  ', 0],
 [1722, 30, 1722, 0, 6, 'SAOLA                ', 0],
 [1723, 21, 1723, 0, 6, 'DAMREY               ', 0],
 [1724, 23, 1724, 0, 6, 'HAIKUI               ', 0],
 [1725, 12, 1725, 0, 6, 'KIROGI               ', 0],
 [1726, 40, 1726, 0, 6, 'KAI-TAK              ', 0],
 [1727, 26, 1727, 0, 6, 'TEMBIN               ', 0],
 [1801, 19, 1801, 0, 6, 'BOLAVEN              ', 0],
 [1802, 26, 1802, 0, 6, 'SANBA                ', 0],
 [1803, 32, 1803, 0, 6, 'JELAWAT              ', 0],
 [0, 15, 0, 0, 6, '(nameless)           ', 0],
 [1804, 50, 1804, 0, 3, 'EWINIAR              ', 0],
 [1805, 26, 1805, 0, 6, 'MALIKSI              ', 0],
 [1806, 32, 1806, 0, 3, 'GAEMI                ', 0],
 [1807, 30, 1807, 0, 6, 'PRAPIROON            ', 0],
 [1808, 53, 1808, 0, 3, 'MARIA                ', 0],
 [1809, 53, 1809, 0, 3, 'SON-TINH             ', 0],
 [1810, 52, 1810, 0, 3, 'AMPIL                ', 0],
 [0, 14, 0, 0, 6, '(nameless)           ', 0],
 [1811, 22, 1811, 0, 6, 'WUKONG               ', 0],
 [1812, 62, 1812, 0, 3, 'JONGDARI             ', 0],
 [0, 12, 0, 0, 6, '(nameless)           ', 0],
 [1813, 36, 1813, 0, 6, 'SHANSHAN             ', 0],
 [1814, 53, 1814, 0, 3, 'YAGI                 ', 0],
 [1815, 21, 1815, 0, 6, 'LEEPI                ', 0],
 [1816, 63, 1816, 0, 3, 'BEBINCA              ', 0],
 [1817, 64, 1817, 0, 6, 'HECTOR               ', 0],
 [1818, 44, 1818, 0, 3, 'RUMBIA               ', 0],
 [1819, 48, 1819, 0, 6, 'SOULIK               ', 0],
 [1820, 31, 1820, 0, 6, 'CIMARON              ', 0],
 [0, 27, 0, 0, 3, '(nameless)           ', 0],
 [1821, 46, 1821, 0, 6, 'JEBI                 ', 0],
 [1822, 52, 1822, 0, 3, 'MANGKHUT             ', 0],
 [1823, 30, 1823, 0, 3, 'BARIJAT              ', 0],
 [1824, 53, 1824, 1, 6, 'TRAMI                ', 0],
 [1825, 39, 1825, 0, 6, 'KONG-REY             ', 0],
 [1826, 54, 1826, 0, 6, 'YUTU                 ', 0],
 [1827, 7, 1827, 0, 6, 'TORAJI               ', 0],
 [1828, 36, 1828, 0, 6, 'MAN-YI               ', 0],
 [1829, 36, 1829, 0, 6, 'USAGI                ', 0],
 [0, 13, 0, 0, 6, '(nameless)           ', 0],
 [1901, 20, 1901, 0, 6, 'PABUK                ', 0],
 [0, 17, 0, 0, 6, '(nameless)           ', 0],
 [1902, 48, 1902, 0, 6, 'WUTIP                ', 0],
 [0, 11, 0, 0, 6, '(nameless)           ', 0],
 [1903, 18, 1903, 0, 6, 'SEPAT                ', 0],
 [0, 8, 0, 0, 6, '(nameless)           ', 0],
 [1904, 17, 1904, 0, 3, 'MUN                  ', 0],
 [1905, 37, 1905, 0, 6, 'DANAS                ', 0],
 [1906, 21, 1906, 0, 6, 'NARI                 ', 0],
 [1907, 31, 1907, 0, 3, 'WIPHA                ', 0],
 [1908, 34, 1908, 0, 6, 'FRANCISCO            ', 0],
 [1909, 62, 1909, 0, 3, 'LEKIMA               ', 0],
 [1910, 48, 1910, 0, 6, 'KROSA                ', 0],
 [1911, 38, 1911, 0, 3, 'BAILU                ', 0],
 [1912, 24, 1912, 0, 6, 'PODUL                ', 0],
 [1913, 45, 1913, 0, 6, 'LINGLING             ', 0],
 [1914, 37, 1914, 0, 3, 'KAJIKI               ', 0],
 [1915, 37, 1915, 0, 6, 'FAXAI                ', 0],
 [0, 16, 0, 0, 6, '(nameless)           ', 0],
 [1916, 16, 1916, 0, 6, 'PEIPAH               ', 0],
 [1917, 27, 1917, 0, 6, 'TAPAH                ', 0],
 [1918, 37, 1918, 0, 3, 'MITAG                ', 0],
 [1919, 39, 1919, 0, 6, 'HAGIBIS              ', 0],
 [1920, 29, 1920, 0, 6, 'NEOGURI              ', 0],
 [1921, 30, 1921, 0, 6, 'BUALOI               ', 0],
 [1922, 13, 1922, 0, 6, 'MATMO                ', 0],
 [1923, 34, 1923, 0, 6, 'HALONG               ', 0],
 [1924, 28, 1924, 0, 6, 'NAKRI                ', 0],
 [1925, 30, 1925, 0, 6, 'FENGSHEN             ', 0],
 [1926, 44, 1926, 0, 6, 'KALMAEGI             ', 0],
 [1927, 25, 1927, 0, 6, 'FUNG-WONG            ', 0],
 [1928, 45, 1928, 0, 6, 'KAMMURI              ', 0],
 [1929, 37, 1929, 0, 6, 'PHANFONE             ', 0],
 [2001, 37, 2001, 0, 6, 'Vongfong             ', 0],
 [2002, 25, 2002, 0, 3, 'Nuri  \t\t\t\t           ', 0],
 [2003, 16, 2003, 0, 3, 'Sinlaku              ', 0],
 [2004, 55, 2004, 0, 3, 'Hagupit              ', 0],
 [2005, 29, 2005, 0, 6, 'Jangmi               ', 0],
 [2006, 15, 2006, 0, 3, 'Mekkhala             ', 0],
 [0, 17, 0, 0, 6, '(nameless)           ', 0],
 [2007, 21, 2007, 0, 3, 'Higos                ', 0],
 [2008, 29, 2008, 0, 6, 'Bavi                 ', 0],
 [2009, 37, 2009, 0, 6, 'Maysak               ', 0],
 [2010, 35, 2010, 0, 6, 'Haishen              ', 0],
 [2011, 18, 2011, 0, 6, 'Noul                 ', 0],
 [2012, 37, 2012, 0, 6, 'Dolphin              ', 0],
 [2013, 25, 2013, 0, 6, 'Kujira               ', 0],
 [2014, 54, 2014, 0, 6, 'Chan-hom             ', 0],
 [2015, 20, 2015, 0, 6, 'Linfa                ', 0],
 [2016, 20, 2016, 0, 3, 'Nangka               ', 0],
 [0, 10, 0, 0, 6, '(nameless)           ', 0],
 [2017, 30, 2017, 0, 6, 'Saudel               ', 0],
 [0, 13, 0, 0, 6, '(nameless)           ', 0],
 [2018, 26, 2018, 0, 6, 'Molave               ', 0],
 [2019, 44, 2019, 0, 6, 'Goni                 ', 0],
 [2020, 39, 2020, 0, 6, 'Atsani               ', 0],
 [2021, 18, 2021, 0, 6, 'Etau                 ', 0],
 [2022, 33, 2022, 0, 6, 'Vamco                ', 0],
 [2023, 30, 2023, 0, 6, 'Krovanh              ', 0]]

In [11]:
np.array(train)[:,5] == 'CHABA'

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False])

In [24]:
np.where(np.array(train)[:,5] == 'CHABA                ')

(array([19], dtype=int64),)

In [23]:
np.array(train)[:,:]

array([['0', '9', '0', ..., '6', '(nameless)           ', '0'],
       ['0', '31', '1601', ..., '6', 'NEPARTAK             ', '0'],
       ['0', '10', '0', ..., '6', '(nameless)           ', '0'],
       ...,
       ['2021', '18', '2021', ..., '6', 'Etau                 ', '0'],
       ['2022', '33', '2022', ..., '6', 'Vamco                ', '0'],
       ['2023', '30', '2023', ..., '6', 'Krovanh              ', '0']],
      dtype='<U21')

In [ ]:
CHABATAK